PurchaseOrderManager/PurchaseOrderManager/PurchaseOrderManager.Droid/bin/
PurchaseOrderManager/PurchaseOrderManager/PurchaseOrderManager.Droid/obj/
PurchaseOrderManager/PurchaseOrderManager/PurchaseOrderManager.UWP/obj/
PurchaseOrderManager/PurchaseOrderManager/PurchaseOrderManager.UWP/bin/
PurchaseOrderManager/packages/
